main .container {
  flex-direction: column;
  width: auto;
  padding: 125px 128px 63px 128px;
}

.inicio {
  width: 100%;
  box-sizing: border-box;
  padding:0 78px 0 78px;
  height: 511px;
  background: url(../images/ilustra-banner.png) 527px 0 no-repeat;
  background-size: 501px 511px;
  margin-bottom: 66px;
}

.inicio h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 69px;
  color: #FF4081;
  width: 488px;
  height: 216px;
  margin:0 0 19px 0;
}

.inicio>span {
  font-weight: 400;
  font-size: 27px;
  line-height: 31px;
  color: #555555;
  width: 362px;
  height: 62px;
  margin: 0 0 38px 0;
  display: block;
}

.inicio>a>span {
  font-weight: 400;
  font-size: 27px;
  line-height: 31px;
  color: #FF4081;
}

.inicio>a {
  border: 2px solid #FF4081;
  box-sizing: border-box;
  border-radius: 62px;
  display: block;
  width: 268px;
  height: 51px;
  text-align: center;
  padding: 10px 0;
}

.cursos {
  background: #F7F7F7;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 730px;
  box-sizing: content-box;
  padding: 0px 128px 0px 128px;
}

.curso {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.curso h2 {
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  color: #FF4081;
  max-width: 344px;
}

.curso p {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  max-width: 293px;
}

.curso a {
  display: block;
  background: #FF4081;
  border-radius: 62px;
  width: 233px;
  height: 51px;
  text-align: center;
  margin-bottom: 119px;
}

.curso span {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  padding: 14px 0;
  display: block;
}

.depoimentos h2 {
  font-weight: 700;
  font-size: 37px;
  line-height: 50px;
  color: #009688;
}

.bloco_depoimentos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.depoimento {
  display: flex;
}

.depoimento img {
  width: 104px;
  height: 104px;
}

.citando {
  display: flex;
  flex-direction: column;
}

blockquote {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  width: 363px;
  color: #000000;
  display: block;
}

cite {
  display: block;
}

.blog h2 {
  font-weight: 700;
  font-size: 37px;
  color: #009688;
}

.blog {
  width: 100%;
}

.posts {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.titulo_post {
  font-weight: 700;
  font-size: 27px;
  line-height: 31px;
  color: #009688;
  max-width: 319px;
}

.resumo_post {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  max-width: 319px;
  color: #000000;
  display: block;
}